%div{style: 'width:800px;margin:0 auto;'}
  .cards
    :ruby
      unit = 360 / @elements.size
    - @elements.each_with_index do |image,index|
      :ruby
        radian = Math::PI/180 * (unit * index)
        x = 400 * Math.sin(radian)
        y = 400 * Math.cos(radian) * -1

      .card{style: "left: #{x.to_i}px;top: #{y.to_i}px;"}
        .front{onclick: "twirl.open(this);"}
        .back{style: "background-image: url(#{image});"}

- content_for :head do
  :coffeescript
    twirl = {}
    twirl.open = (target)=>
      card = $(target).parent()
      card.addClass('twirl')

    twirl.reset = ->
      animate = null
      $('.cards > div').each (index)->
        self = this
        animate = $.when(animate).pipe ->
          $(self).animate({
            left:index * 2
            top:index * 2
          },{
            duration:100
            easing:'linear'
          })
    window.twirl = twirl

  :css
    .cards {
      position: relative;
      top: 440px;
      left: 360px;
      width: 120px;
      height: 120px;
    }

    .front {
      z-index: 2;

      background: rgb(238,238,238);
      background: -moz-linear-gradient(-45deg,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
      background: -webkit-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
      background: -o-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
      background: -ms-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
      background: linear-gradient(135deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );
    }
